@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;900&display=swap');

:root {
    --font-clr: black;
    --main-blue: #458ff6;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    list-style: none;
    font-family: Mulish, sans-serif;
    font-size: 62.5%;
}

a { 
    text-decoration: none;
    color: var(--font-clr);
}

.nav-container {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-bar, .clickable-logo {
    display: flex;
}

.logo-container {
    flex: 1;
    align-items: flex-start;
}

.logo-image {
    max-width: auto;
    height: 40px;
    justify-content: flex-start;
}

.logo-text {
    color: #233348;
    font-weight: 700;
    font-size: 2.4em;
    margin: px;
}

.nav-bar {
    flex: 4;
    justify-content: space-around;
}

.nav-link {
    list-style: none;
    font-size: 1.8em;
}

.hero-main-container { 
    display: flex;
    width: 90%;
    height: 80vh;
    margin: auto;
    align-items: center;
}

.hero-text-container {
    flex: 1;
    margin-top: -200px;
}

.hero-image-container {
    flex: 1.9;
    background-color: red;
}

p { 
    font-size: 2.1em;
    line-height: 2.2em;
}

h1 {
    font-size: 5.6em;
}

.hero-text {
    margin-top: 20px;
}

.btn {
    background-color: var(--main-blue);
    border-radius: 55px;
    flex-shrink: 0;
    height: 56px;
    border: none;
    width: 203px;
    font-family: 'Mulish';
    color: white;
    margin-top: 20px;
}