@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;900&display=swap');

:root {
    --font-clr: black;
    --main-blue: #458ff6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    list-style: none;
    font-family: Mulish, sans-serif;
    font-size: 62.5%;
}

a { 
    text-decoration: none;
    color: var(--font-clr);
}

.nav-container {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-bar, .clickable-logo {
    display: flex;
}

.logo-container {
    flex: 1;
    align-items: flex-start;
}

.logo-image {
    max-width: auto;
    height: 40px;
    justify-content: flex-start;
}

.logo-text {
    color: #233348;
    font-weight: 700;
    font-size: 2.4em;
    margin: px;
}

.nav-bar {
    flex: 4;
    justify-content: space-around;
}

.nav-link {
    list-style: none;
    font-size: 1.8em;
}

.hero-main-container { 
    display: flex;
    width: 90%;
    height: 80vh;
    margin: auto;
    align-items: center;
}

.hero-text-container {
    flex: 1;
    display: inline-block;
    vertical-align: middle;
}

.hero-image-container {
    display: flex;
    flex: 1.9;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero-image {
    min-width: auto;
    height: 70vh;
}

p { 
    font-size: 2.1em;
    line-height: 2.2em;
}

h1 {
    font-size: 5.6em; 
}

.hero-text {
    margin-top: 20px;
}

.btn {
    background-color: var(--main-blue);
    border-radius: 55px;
    flex-shrink: 0;
    height: 56px;
    border: none;
    width: 203px;
    font-family: 'Mulish';
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.page-redirect-container {
    padding-top: 100px;
    margin: auto;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 0;
    grid-template-areas:
      "title title title"
      "a1 a2 a3"
      "a4 a5 a6";
}

.title-container {
    grid-area: title;
}
.page-redirect-title {
    font-size: 3.6em;
    text-align: center;
}

.page-redirect {
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(228,233,245,0.4);;
    flex-shrink: 0;
    height: 400px;
    width: 350px;
    margin: auto;
}

.a1 { grid-area: a1; }
.a2 { grid-area: a2; }
.a3 { grid-area: a3; }
.a4 { grid-area: a4; }
.a5 { grid-area: a5; }
.a6 { grid-area: a6; }

.card-content {
    margin: 10px 20px 20px 10px;
}

.card-title {
    font-size: 2.4em;
}

.card-text {
    font-size: 1.6em;
}

.final-block {
    display: flex;
    margin-top: 450px;
    background-color: var(--main-blue);
    height: 250px;
    width: 100%;
}

/** generalidades **/

.sub-container {
    display: grid;
    width: 90%;
    margin: auto;
    gap: 30px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    grid-template-areas:
      "area1 area2"
      "area3 area4"
      "area5 area6";
  }

.area1 { 
    grid-area: area1;
}
.area2 {
    grid-area: area2;

}
.area3 { grid-area: area3; }
.area4 { grid-area: area4; }
.area5 { grid-area: area5; }
.area6 { grid-area: area6; }

.area1-image {
    height: 500px;
    width: auto;
}

.containerX {
    height: 500px;
    width: auto;
    padding-top: 100px ;
}
.area-title {
    font-size: 4em;
}

.area-text {
    font-size: 2.5em;
}

.text-3 {
    padding-top: 50px;
}

/* Infografia sintomas */

.sintomas-imagen {
    width: 350px;
    height: auto;
    flex: 1;
    margin: 0; 
    padding: 0;
}

.contenedor-imagen {
    width: 90%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.sintomas-footer {
    margin-top: 50px;
}

.imagen-diagnostico {
    width: 700px;
    height: auto;
    flex: 3;
}

.genética-imagen {
    width: 90%;
    height: auto;
    margin-top: 60px;
}

.sub-container2 {
    display: grid;
    width: 90%;
    margin: auto;
    gap: 30px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    grid-template-areas:
      "area1 area2"
      "area3 area4"
      "area5 area6";
}

.titulo-info {
      font-size: 4em;
      padding-bottom: 75px;
}

.contenedor-info {
    width: 90%;
    height: auto;
    margin: auto;
    padding-top: 50px;
}

.row {
    display: flex;
    padding-bottom: 100px;
}
  
.column {
    flex: 50%;
    margin: 0;
}

.column-image {
    display: flex;
    justify-content: center;
}

.imagen-info {
    width: 60%;
    height: auto;   
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-space {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.image-wide {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-space {
    padding-bottom: 50px;;
}